<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>MacSCP</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.macscp.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MacSCP</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>MACSCP_SHORT_VERSION</string>
	<key>CFBundleVersion</key>
	<string>MACSCP_BUILD_VERSION</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>MacSCPApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>MacSCP.sdef</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSSupportsAppIntents</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>MacSCP Session</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>macscp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>SFTP Handler</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sftp</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
